*{
 font-family: Arial;
}

textarea{
 resize: none;
}
body{
 background-color: #ddd;
}
.homeMenu{
 text-align: right;
 vertical-align: top;
 width: 400px;
}
.homeAction{
 text-align: center;
 min-width: 600px;
}
.all{
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
 margin-top: -8px;
}
#top{
 margin-top: 20px;
 height: 150px;
 background-size: 1000px 100px;
}
#topmenu{
 width: 1000px;
 height: 50px;
 float: right;
 background-color: #FFFFFF;
}
#action{
 min-height: 545px;
 height: auto;
 width: 1000px;
 background-color: #FFFFFF;
 float: left;
}
#footer{
 height: 30px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10px;
 width: 1000px;
 background-color: 33CCFF;
 float: right;
 border: 1px solid #04acec;
	background-color: #0186ba;
	background-image: -moz-linear-gradient(#04acec, #0186ba); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));	
	background-image: -webkit-linear-gradient(#04acec, #0186ba);	
	background-image: -o-linear-gradient(#04acec, #0186ba);
	background-image: -ms-linear-gradient(#04acec, #0186ba);
	background-image: linear-gradient(#04acec, #0186ba);
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	-moz-box-shadow: 0 1px 1px #0033cc, 0 1px 0 #0066ff inset;
	-webkit-box-shadow: 0 1px 1px #0033cc, 0 1px 0 #0066ff inset;
	box-shadow: 0 1px 1px #0033cc, 0 1px 0 #0066ff inset;
}
.main{
overflow:auto;
}
.clean{
 clear: left;
}

/*-----BUTTONS-----*/

.button, input[type="submit"] {
 width: 100px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover, input[type="submit"]:hover {
	text-decoration: none;
}
.button:active, input[type="submit"]:active {
	position: relative;
	top: 1px;
}
.blue, input[type="submit"]{
 color: #fff;
 border: solid 1px #0076c3;
 background: #0095cd;
 background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
}
.blue:hover, input[type="submit"]:hover{
 background: #007edd;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
}
.blue:active, input[type="submit"]:active{
 color: #80bed6;
 background: -webkit-gradient(linear, left top, left bottom, from(#0186ba), to(#04acec));
}

/*-------------------*/
/*---Boxes styles---*/
input[type="text"], input[type="password"], input[type="date"], select{
 
 width: 371px;
 height: 24px;
 border: 1px solid #cccccc;
 border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -khtml-border-radius: 3px;
 background: #ffffff !important;
 outline: none;
 color: black;
}

input[type="submit"]{
 width: 371px;
}
input.homeMenuButton{
 width: 250px;
 height: 2em;
}
/*-------------------*/
/*----doc page------*/
.state{
 width: 1000px;
 height: 50px;
 float: right;
 white-space: pre;
}

.docInfo{
 margin: 5px 15px;
 min-height: 500;
}

.doc_photo img{
 width: 300px;
 height: 350px;
float: left;
}

.state  .button{
 width: 27%;
}
.hidden {position: absolute; visibility: hidden;}
.visible {position: absolute; visibility: visible; z-index: 2;}

#b1, #b2{
 width: 400px;
 height: 500px;
 background-color: #dedede;
 position: absolute;
 top: 30%;
 left: 50%;
 margin-left: -200px;
 text-align: center;
}

/*---------Comments---------*/
.comments{
 text-align:center;
 height: auto;
}

.comment_block{
 padding:12px;
	width:500px;
	position:relative;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#888;
	margin-bottom:25px;
 -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
 left:50%; margin-left:-250px;
	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
}

.comment_date{
 font-size:10px;
	padding:6px 0;
	position:absolute;
	right:15px;
	top:10px;
	color:#bbb;
}

.comment_text{
 color: #555;
 font-size:17px;
}

#comments_form{
 background-color: yellow;
 display: none;
}
/*---------------------*/
.footer_text{
 margin-top: 7px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}