textarea{
 resize: none;
}
body{
 background: url("../images/bg.png");
 background-color: #99CCFF;
 
}
.all{
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
 margin-top: -8px;
}
#top{
 height: 100px;
 background-size: 1000px 100px;
}
#topmenu{
 width: 1000px;
 height: 50px;
 float: right;
 background-color: #FFFFFF;
}
#action{
 min-height: 560px;
 height: auto;
 width: 1000px;
 background-color: #FFFFFF;
 float: left;
}
#footer{
 height: 50px;
 margin-left: auto;
 margin-right: auto;
 width: 1000px;
 background-color: 33CCFF;
 float: right; 
}
.main{
overflow:auto;
}
.clean{
 clear: left;
}