textarea{
 resize: none;
}
body{
 background-color: FFFFCC;
}
.all{
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
 margin-top: -8px;
}
#top{
 height: 100px;
 background-color: ffffff;
}
#topmenu{
 width: 800px;
 height: 50px;
 float: right;
 background-color: ff0099;
}
#action{
 min-height: 560px;
 height: auto;
 width: 800px;
 background-color: FFCC66;
 float: left;
}
#footer{
 height: 50px;
 margin-left: auto;
 margin-right: auto;
 width: 1000px;
 background-color: 33CCFF;
 
}
#menu{
 min-height: 350px;
 width: 200px;
 background-color: 00CC33;
 float: left;
}
.main{
overflow:auto;
}
.clean{
 clear: left;
}